$grid-width: 1.3rem;
$grid-height: 1.3rem;



.grid {
    width: $grid-width;
    height: $grid-height;
    fill: #141414;
    stroke: #333333;
    stroke-width: 1px;

    &:hover,
    &:focus {
        filter: brightness(1.5);
    }

}

.item-svg {
    width: calc($grid-width * 0.9);
    height: calc($grid-width * 0.9);
}

.player-svg {
    width: calc($grid-width * 0.8);
    height: calc($grid-width * 0.8);
}

.grid-world {
    display: block;
    padding: 0;
    width: calc($grid-width * 32);
    height: calc($grid-width * 32);
    margin: 0 auto;
}

$grid-width: 1.3rem;
$grid-height: 1.3rem;

.grid {
    width: $grid-width;
    height: $grid-height;
    fill: #141414;
    stroke: #333333;
    stroke-width: 1px;

    &:hover,
    &:focus {
        filter: brightness(1.5);
    }

}

.item-svg {
    width: calc($grid-width * 0.9);
    height: calc($grid-width * 0.9);
}

.player-svg {
    width: calc($grid-width * 0.8);
    height: calc($grid-width * 0.8);
}

.grid-world {
    display: block;
    padding: 0;
    width: calc($grid-width * 32);
    height: calc($grid-width * 32);
    margin: 0 auto;
}